<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
