{% extends "base.html" %}
{% block content %}
    <form hx-get="hello" hx-target="#greetings">
        <input name="name"/>
    </form>
    <div id="greetings">
        {% include "hello.html" %}
    </div>
{% endblock %}
